# Byte-compiled / optimized / DLL files
*.py[cd]

# Distribution / packaging
*.egg-info/

# Jupyerter Notebooks
.ipynb_checkpoints/

# Data files
examples/**/obs*.dat
examples/**/*.xml
examples/**/*.mseed
examples/**/*.SAC
examples/**/*.pdf
